


div.atendimentosGrid {

    box-sizing: border-box;
    display: grid;
    grid-template-columns: 10px 600px;
    grid-template-rows: 50px 1fr 30px ;

}

div.listAtendimentos   {

    grid-column-start: 3;
    grid-column-end: 3;



}



form.cadastroAtendimento {
    grid-column-start: 2;


    grid-row-start: 2;
    grid-row-end: 3;

    display: flex;
    flex-direction: column;
    align-items: flex-start;


}

textarea.textAreaAtendimentos{
    height: 200px;
    width: 550px;
    padding: 5px;


}
select.selectAtendimento{
    padding: 0;
    width: 550px;
    margin-left: 0;
    margin-right: 0;
}

ul.listAtendimentos{

    overflow-x: hidden;
    overflow-y: scroll;

    box-sizing: border-box;

    height: 800px;
    position: relative;

}

li.listAtendimentos {
    background-color: rgba(100,100,100,.3);
    border: solid black 1px;
    margin: 10px;
    padding: 5px;
    height: 150px;
    width: 90%;
overflow: hidden;
    display: block;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    border-radius: 10px;
}

h1{
    font-size: 10pt;
    font-weight: normal;
    font-family: Arial;
    padding: 2px;

}







