button.login{
    width: 250px;
    background-color: rgba(0,0,0,.3);
    border: 1px ;
    color: black;
    font-weight: 900;


}
input.login{
    width: 250px;
    border-radius: 0px;
    border-top: none;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 2px solid rgba(0,0,0,1);
    background-color: rgba(0,0,0,0);

}

/*textarea:focus, input:focus, select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    border-bottom: 1px solid black;
    outline: 0;
}*/

/*::-webkit-input-placeholder {
    color: rgba(0,0,0,0) ;
}*/


textarea:focus, input:focus, select:focus {
    outline: 0;
}

form.login{
    border-radius: 15px;
    border: 4px solid rgba(0,0,0,1);
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 80px;
    left: 40%;
}