.autoCadastroUsuario{
width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

form.cadastro{
    display: grid;
    grid-template-columns:  1fr;
    padding-top: 100px;
}

label.autoCadastroUsuario{
    color: red;
    font-family: Arial, sans-serif;
}