

body {
    font-family: Arial;

}

ul{
    list-style: none;
    position: absolute;
    top: 48px;
    width: 100%;
}

label{
    width: 50px;
    height: 40px;
}

input[type = "checkbox"].chekMenu {
    display: none;
}


nav.menu{

    background-color: rgba(0,0,0,0.7);
    width:  350px;
    height: 100%;
    position: fixed;
    left: -350px;
    transition: all .5s;
}

a {
    text-decoration: none;
    color: black;
    display: block;
    padding: 20px 5px;
    color: black;
}

a:hover {
    background-color: rgba(0,0,0,.6);
    color: black;
}

label{
    padding: 15px;
    position: absolute;
    z-index: 1;
}
input[type = "checkbox"]:checked ~ nav {
    transform: translateX(350px) ;
}